body {
    margin: 0;
    height: 100%;
}
.mpd {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px 40px auto 40px;
}
.player {
    padding: 10px;
    background-color: #ccc;
}
.tabs {
    padding: 10px;
    background-color: #eee;
}
.commands {
    padding: 10px;
    background-color: #f8f8f8;
}
.nc {
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(99, 370px);
    grid-column-gap: 10px;
}
footer {
    padding: 10px;
    background-color: #ccc;
    text-align: center;
}

.nc > div {
    overflow-y: auto;
}
.nc > div > * {
    padding: 3px;
    -moz-user-select: none;
}
.nc > div > div:hover {
    background-color: #ccc;
    cursor: pointer;
}
.nc h1 {
    font-size: 100%;
    background-color: lightblue;
    color: white;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: solid 1px #333;
}
.nc .option {
    position: relative;
}
.nc .option:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ddd;
    content: "▸";
}
.nc .exp {
    position: relative;
    background-color: lightblue;
}
.nc .exp:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    content: "▸";
}

.playlistwrap {
    overflow-y: auto;
}
.playlist {
    -moz-user-select: none;
}
.playlist > div {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 60px;
    grid-column-gap: 10px;
    padding: 4px 10px;
}
.playlist .dur {
    text-align: right;
}
.playlist > div:nth-child(odd) {
    background-color: #eee;
}
.playlist > div:hover {
    background-color: #ccc;
}
.playlist div.current {
    background-color: lightblue;
}

.player svg {
    color: darkgrey;
}
.player .enabled {
    cursor: pointer;
    color: black;
}
