* {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}
.mpd {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px auto;
    padding: 10px;
}
.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px repeat(3, max-content);
    grid-gap: 30px;
    font-weight: bold;
}
.header a {
    cursor: pointer;
}
.header a.tab.curr {
    border-bottom: solid 3px red;
}
.header a.tab:hover {
    border-bottom: solid 3px red;
}


.playlistwrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 30px;
}

.playlist {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    -moz-user-select: none;
}
.playlist > div {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 60px;
    grid-column-gap: 10px;
    padding: 4px 10px;
}
.playlist .dur {
    text-align: right;
}
.playlist > div:nth-child(odd) {
    background-color: #eee;
}
.playlist > div:hover {
    background-color: #ccc;
}
.playlist div.current {
    background-color: lightblue;
}
.commands {
    grid-column: 1;
    grid-row: 2;
}

.player {
    grid-column: 2;
    grid-row: 1 / 2;
}
.player svg {
    color: darkgrey;
}
.player .enabled {
    cursor: pointer;
    color: black;
}

.nc {
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(3, 30%);
    grid-auto-columns: 30%;
    grid-auto-flow: column;
    grid-template-rows: 30px 1fr 30px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.nc .title {
    font-size: 100%;
    background-color: lightblue;
    color: white;
    margin: 0;
    padding: 5px;
    border-bottom: solid 1px #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nc .footer {
    padding: 5px;
    text-align: right;
}
.pane {
    overflow-y: auto;
}
.pane > * {
    padding: 3px;
    -moz-user-select: none;
}
.pane > div:hover {
    background-color: #ccc;
    cursor: pointer;
}
.pane .exp {
    background-color: lightblue;
}
.pane .exp:after {
    float: right;
    content: ">";
}
