* {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}
.mpd {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px auto;
    padding: 10px;
}
.header {
    padding: 14px;
    display: grid;
    grid-template-columns: 200px repeat(3, max-content);
    grid-gap: 30px;
    font-weight: bold;
}
.header a {
    cursor: pointer;
}
.header a.tab.curr {
    border-bottom: solid 4px #32CBFF;
}
.header a.tab:hover {
    border-bottom: solid 4px #32CBFF;
}


.playlistwrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 30px;
}

.playlist {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    -moz-user-select: none;
    padding: 10px;
}
.playlist > div {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 60px;
    grid-column-gap: 10px;
    padding: 6px 12px;
}
.playlist > div > div {
    margin-top: auto;
    margin-bottom: auto;
}
.playlist .track {
    text-align: right;
}
.playlist .title {
    font-weight: bold;
}
.playlist .dur {
    text-align: right;
}
.playlist > div:nth-child(odd) {
    background-color: #ededed;
}
.playlist > div:hover,
.playlist > div:nth-child(odd):hover {
    background-color: #ccc;
}
.playlist div.current {
    background-color: #32CBFF;
}
.commands {
    grid-column: 1;
    grid-row: 2;
}

.player {
    grid-column: 2;
    grid-row: 1 / 2;
    text-align: center;
    margin: 40px 10px;
}
.player .enabled {
    cursor: pointer;
    color: black;
}
.player .buttons {
    margin-bottom: 40px;
}
.player .title {
    font-size: 140%;
}
.player .artist {
    font-size: 120%;
    margin-bottom: 10px;
}
.player .time input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nc {
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(3, 30%);
    grid-auto-columns: 30%;
    grid-auto-flow: column;
    grid-template-rows: 30px 1fr 30px;
    grid-column-gap: 10px;
    padding: 10px;
}
.nc .title {
    display: flex;
    align-items: center;
    font-size: 100%;
    background-color: #32CBFF;
    color: white;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nc .footer {
    padding: 10px;
    text-align: right;
}
.pane {
    overflow-y: auto;
}
.pane > * {
    padding: 5px;
    -moz-user-select: none;
}
.pane > div:hover {
    background-color: #ccc;
    cursor: pointer;
}
.pane .exp {
    background-color: #ccc;
}
.pane > div:nth-child(odd) {
    background-color: #ededed;
}
.pane > div:nth-child(odd):hover {
    background-color: #ccc;
}
.pane .exp:after {
    float: right;
    content: ">";
}

button {
    padding: 3px;
}
